language: go
go_import_path: github.com/bailantaotao/test-github
sudo: required
matrix:
  include:
    - os: linux
      dist: trusty
      sudo: required
      go: 1.7.x
      script:
        - go test -v $(glide novendor | grep -v "\.\/tests\/\.\.\.")

    - os: linux
      dist: trusty
      sudo: required
      go: 1.8.x
      script:
        - go test -v $(glide novendor | grep -v "\.\/tests\/\.\.\.")

    # These are the latest Go versions.
    - os: linux
      dist: trusty
      sudo: required
      go: 1.9.x
      script:
        - go test -v $(glide novendor | grep -v "\.\/tests\/\.\.\.") 

    - os: osx
      go: 1.9.x
      sudo: required
      script:
        - go test -v $(glide novendor | grep -v "\.\/tests\/\.\.\.")

install:
  - go get github.com/Masterminds/glide


dist: xenial
env:
  - CHANGE_MINIKUBE_NONE_USER=true
before_script:
  - sudo mount --make-rshared /
  - curl -Lo kubectl https://storage.googleapis.com/kubernetes-release/release/v1.9.0/bin/linux/amd64/kubectl && chmod +x kubectl && sudo mv kubectl /usr/local/bin/
  - curl -Lo minikube https://github.com/kubernetes/minikube/releases/download/v0.28.1/minikube-linux-amd64 && chmod +x minikube && sudo mv minikube /usr/local/bin/
  - sudo minikube -v 9 start --vm-driver=none --bootstrapper=kubeadm --kubernetes-version=v1.10.0 --extra-config=apiserver.authorization-mode=RBAC
  - minikube update-context
  - until kubectl get nodes minikube | grep " Ready";do kubectl get nodes; sleep 1; done
  - until kubectl -n kube-system get pods -lk8s-app=kube-dns -o jsonpath="{.items[0].status.phase}" | grep "Running" ;do sleep 1;echo "waiting for kube-addon-manager to be available"; kubectl get pods --all-namespaces; done
